In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import urllib.request
from bs4 import BeautifulSoup

### 행정안전부 법정동 코드 데이터 전처리
- 행정표준코드관리시스템 : https://www.code.go.kr/index.do

In [6]:
import pandas as pd
# 법정동코드 파일 읽어오기
code = pd.read_csv('법정동코드 전체자료.txt', sep='\t', encoding='cp949')
code

            법정동코드                  법정동명 폐지여부
0      1100000000                 서울특별시   존재
1      1111000000             서울특별시 종로구   존재
2      1111010100         서울특별시 종로구 청운동   존재
3      1111010200         서울특별시 종로구 신교동   존재
4      1111010300         서울특별시 종로구 궁정동   존재
...           ...                   ...  ...
46175  5013032022  제주특별자치도 서귀포시 표선면 하천리   존재
46176  5013032023  제주특별자치도 서귀포시 표선면 성읍리   존재
46177  5013032024  제주특별자치도 서귀포시 표선면 가시리   존재
46178  5013032025  제주특별자치도 서귀포시 표선면 세화리   존재
46179  5013032026  제주특별자치도 서귀포시 표선면 토산리   존재

[46180 rows x 3 columns]

In [7]:
# 폐지된 법정동코드 삭제
code = code[code['폐지여부']=='존재']
code

            법정동코드                  법정동명 폐지여부
0      1100000000                 서울특별시   존재
1      1111000000             서울특별시 종로구   존재
2      1111010100         서울특별시 종로구 청운동   존재
3      1111010200         서울특별시 종로구 신교동   존재
4      1111010300         서울특별시 종로구 궁정동   존재
...           ...                   ...  ...
46175  5013032022  제주특별자치도 서귀포시 표선면 하천리   존재
46176  5013032023  제주특별자치도 서귀포시 표선면 성읍리   존재
46177  5013032024  제주특별자치도 서귀포시 표선면 가시리   존재
46178  5013032025  제주특별자치도 서귀포시 표선면 세화리   존재
46179  5013032026  제주특별자치도 서귀포시 표선면 토산리   존재

[20544 rows x 3 columns]

In [8]:
# 인덱스를 초기화
code.reset_index(drop=True, inplace=True)
code

            법정동코드                  법정동명 폐지여부
0      1100000000                 서울특별시   존재
1      1111000000             서울특별시 종로구   존재
2      1111010100         서울특별시 종로구 청운동   존재
3      1111010200         서울특별시 종로구 신교동   존재
4      1111010300         서울특별시 종로구 궁정동   존재
...           ...                   ...  ...
20539  5013032022  제주특별자치도 서귀포시 표선면 하천리   존재
20540  5013032023  제주특별자치도 서귀포시 표선면 성읍리   존재
20541  5013032024  제주특별자치도 서귀포시 표선면 가시리   존재
20542  5013032025  제주특별자치도 서귀포시 표선면 세화리   존재
20543  5013032026  제주특별자치도 서귀포시 표선면 토산리   존재

[20544 rows x 3 columns]

In [9]:
# 시도명을 법정동주소에서 분리 후 컬럼 생성
code['시도명'] = code['법정동명'].str.split(' ', expand=True)[0]
code

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

            법정동코드                  법정동명 폐지여부      시도명
0      1100000000                 서울특별시   존재    서울특별시
1      1111000000             서울특별시 종로구   존재    서울특별시
2      1111010100         서울특별시 종로구 청운동   존재    서울특별시
3      1111010200         서울특별시 종로구 신교동   존재    서울특별시
4      1111010300         서울특별시 종로구 궁정동   존재    서울특별시
...           ...                   ...  ...      ...
20539  5013032022  제주특별자치도 서귀포시 표선면 하천리   존재  제주특별자치도
20540  5013032023  제주특별자치도 서귀포시 표선면 성읍리   존재  제주특별자치도
20541  5013032024  제주특별자치도 서귀포시 표선면 가시리   존재  제주특별자치도
20542  5013032025  제주특별자치도 서귀포시 표선면 세화리   존재  제주특별자치도
20543  5013032026  제주특별자치도 서귀포시 표선면 토산리   존재  제주특별자치도

[20544 rows x 4 columns]

In [11]:
# 마찬가지로 시군구, 읍면동, 동리로 분리 후 컬럼 생성
code['시군구명'] = code['법정동명'].str.split(' ', expand=True)[1]
code['읍면동명'] = code['법정동명'].str.split(' ', expand=True)[2]
code['동리명'] = code['법정동명'].str.split(' ', expand=True)[3]
code

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

            법정동코드                  법정동명 폐지여부      시도명  시군구명  읍면동명   동리명
0      1100000000                 서울특별시   존재    서울특별시  None  None  None
1      1111000000             서울특별시 종로구   존재    서울특별시   종로구  None  None
2      1111010100         서울특별시 종로구 청운동   존재    서울특별시   종로구   청운동  None
3      1111010200         서울특별시 종로구 신교동   존재    서울특별시   종로구   신교동  None
4      1111010300         서울특별시 종로구 궁정동   존재    서울특별시   종로구   궁정동  None
...           ...                   ...  ...      ...   ...   ...   ...
20539  5013032022  제주특별자치도 서귀포시 표선면 하천리   존재  제주특별자치도  서귀포시   표선면   하천리
20540  5013032023  제주특별자치도 서귀포시 표선면 성읍리   존재  제주특별자치도  서귀포시   표선면   성읍리
20541  5013032024  제주특별자치도 서귀포시 표선면 가시리   존재  제주특별자치도  서귀포시   표선면   가시리
20542  5013032025  제주특별자치도 서귀포시 표선면 세화리   존재  제주특별자치도  서귀포시   표선면   세화리
20543  5013032026  제주특별자치도 서귀포시 표선면 토산리   존재  제주특별자치도  서귀포시   표선면   토산리

[20544 rows x 7 columns]

In [12]:
# 법정동명, 폐지여부 컬럼 삭제
code.drop(['법정동명', '폐지여부'],axis=1, inplace=True)
code

C:\Anaconda3\lib\site-packages\pandas\core\frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

            법정동코드      시도명  시군구명  읍면동명   동리명
0      1100000000    서울특별시  None  None  None
1      1111000000    서울특별시   종로구  None  None
2      1111010100    서울특별시   종로구   청운동  None
3      1111010200    서울특별시   종로구   신교동  None
4      1111010300    서울특별시   종로구   궁정동  None
...           ...      ...   ...   ...   ...
20539  5013032022  제주특별자치도  서귀포시   표선면   하천리
20540  5013032023  제주특별자치도  서귀포시   표선면   성읍리
20541  5013032024  제주특별자치도  서귀포시   표선면   가시리
20542  5013032025  제주특별자치도  서귀포시   표선면   세화리
20543  5013032026  제주특별자치도  서귀포시   표선면   토산리

[20544 rows x 5 columns]

In [13]:
# 결측값을 임의로 채워준다.
code.fillna('없음', inplace=True)
code

C:\Anaconda3\lib\site-packages\pandas\core\frame.py:4244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  **kwargs

            법정동코드      시도명  시군구명 읍면동명  동리명
0      1100000000    서울특별시    없음   없음   없음
1      1111000000    서울특별시   종로구   없음   없음
2      1111010100    서울특별시   종로구  청운동   없음
3      1111010200    서울특별시   종로구  신교동   없음
4      1111010300    서울특별시   종로구  궁정동   없음
...           ...      ...   ...  ...  ...
20539  5013032022  제주특별자치도  서귀포시  표선면  하천리
20540  5013032023  제주특별자치도  서귀포시  표선면  성읍리
20541  5013032024  제주특별자치도  서귀포시  표선면  가시리
20542  5013032025  제주특별자치도  서귀포시  표선면  세화리
20543  5013032026  제주특별자치도  서귀포시  표선면  토산리

[20544 rows x 5 columns]

In [14]:
# 시군구 정보가 없는 행 삭제
code.drop(code[code['시군구명']=='없음'].index, inplace=True)
code

            법정동코드      시도명  시군구명 읍면동명  동리명
1      1111000000    서울특별시   종로구   없음   없음
2      1111010100    서울특별시   종로구  청운동   없음
3      1111010200    서울특별시   종로구  신교동   없음
4      1111010300    서울특별시   종로구  궁정동   없음
5      1111010400    서울특별시   종로구  효자동   없음
...           ...      ...   ...  ...  ...
20539  5013032022  제주특별자치도  서귀포시  표선면  하천리
20540  5013032023  제주특별자치도  서귀포시  표선면  성읍리
20541  5013032024  제주특별자치도  서귀포시  표선면  가시리
20542  5013032025  제주특별자치도  서귀포시  표선면  세화리
20543  5013032026  제주특별자치도  서귀포시  표선면  토산리

[20527 rows x 5 columns]

In [15]:
# 읍면동 정보가 있는 행 삭제(중복 시군구 제거)
code.drop(code[code['읍면동명']!='없음'].index, inplace=True)
code

            법정동코드      시도명  시군구명 읍면동명 동리명
1      1111000000    서울특별시   종로구   없음  없음
89     1114000000    서울특별시    중구   없음  없음
164    1117000000    서울특별시   용산구   없음  없음
201    1120000000    서울특별시   성동구   없음  없음
219    1121500000    서울특별시   광진구   없음  없음
...           ...      ...   ...  ...  ..
19899  4887000000     경상남도   함양군   없음  없음
20014  4888000000     경상남도   거창군   없음  없음
20121  4889000000     경상남도   합천군   없음  없음
20332  5011000000  제주특별자치도   제주시   없음  없음
20465  5013000000  제주특별자치도  서귀포시   없음  없음

[252 rows x 5 columns]

In [16]:
# 필요없는 읍면동, 동리 컬럼 삭제
code.drop(['읍면동명', '동리명'], axis=1, inplace=True)
code

            법정동코드      시도명  시군구명
1      1111000000    서울특별시   종로구
89     1114000000    서울특별시    중구
164    1117000000    서울특별시   용산구
201    1120000000    서울특별시   성동구
219    1121500000    서울특별시   광진구
...           ...      ...   ...
19899  4887000000     경상남도   함양군
20014  4888000000     경상남도   거창군
20121  4889000000     경상남도   합천군
20332  5011000000  제주특별자치도   제주시
20465  5013000000  제주특별자치도  서귀포시

[252 rows x 3 columns]

In [17]:
# 법정동코드 앞 5자리만 남긴다.
code['법정동코드'] = code['법정동코드'].astype('str').str[:5]
code

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       법정동코드      시도명  시군구명
1      11110    서울특별시   종로구
89     11140    서울특별시    중구
164    11170    서울특별시   용산구
201    11200    서울특별시   성동구
219    11215    서울특별시   광진구
...      ...      ...   ...
19899  48870     경상남도   함양군
20014  48880     경상남도   거창군
20121  48890     경상남도   합천군
20332  50110  제주특별자치도   제주시
20465  50130  제주특별자치도  서귀포시

[252 rows x 3 columns]

In [18]:
# 인덱스 초기화
code.reset_index(drop=True, inplace=True)
code

     법정동코드      시도명  시군구명
0    11110    서울특별시   종로구
1    11140    서울특별시    중구
2    11170    서울특별시   용산구
3    11200    서울특별시   성동구
4    11215    서울특별시   광진구
..     ...      ...   ...
247  48870     경상남도   함양군
248  48880     경상남도   거창군
249  48890     경상남도   합천군
250  50110  제주특별자치도   제주시
251  50130  제주특별자치도  서귀포시

[252 rows x 3 columns]

In [21]:
# 서울시의 정보를 따로 저장
code_seo = code[code['시도명']=='서울특별시']

code_seo.head()

   법정동코드    시도명 시군구명
0  11110  서울특별시  종로구
1  11140  서울특별시   중구
2  11170  서울특별시  용산구
3  11200  서울특별시  성동구
4  11215  서울특별시  광진구

In [3]:
code_seo['시군구명']

0      종로구
1       중구
2      용산구
3      성동구
4      광진구
5     동대문구
6      중랑구
7      성북구
8      강북구
9      도봉구
10     노원구
11     은평구
12    서대문구
13     마포구
14     양천구
15     강서구
16     구로구
17     금천구
18    영등포구
19     동작구
20     관악구
21     서초구
22     강남구
23     송파구
24     강동구
Name: 시군구명, dtype: object

### 하나의 API 요청의 응답 데이터를 데이터프레임으로 생성하는 함수 선언

In [9]:
def GetData(ym,lawd_cd):
    API_KEY = "WdJsPPD6uZVTrgqXHlaNbcK2jroAVBZluTxlzsDsYBPEDPg89VFffRLKzSyFV5cfRKWa0gXHe6lMC0Xdie2arA%3D%3D"
    
    url = "http://openapi.molit.go.kr:8081/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTrade?LAWD_CD={loc}&DEAL_YMD={date}&serviceKey={key}"
    url = url.format(loc=lawd_cd, date=ym, key=API_KEY)
    result = urllib.request.urlopen(url).read().decode("utf-8")
    xmlsoup = BeautifulSoup(result, 'lxml-xml')

    te=xmlsoup.findAll("item")

    df_temp=pd.DataFrame()


    for t in te:
        build_y=t.find("건축년도").text
        year=t.find("년").text
        month=t.find("월").text
        day=t.find("일").text
        dong=t.find("법정동").text
        price=t.find("거래금액").text
        apt_nm=t.find("아파트").text
        size=t.find("전용면적").text

        try:
            jibun=t.find("지번").text
        except:
            jibun=""

        ji_code=t.find("지역코드").text
        floor=t.find("층").text

        temp = pd.DataFrame(([[build_y,year,month,day,dong,price,apt_nm,size,jibun,ji_code,floor]]), columns=["build_y","year","month","day","dong","price","apt_nm","size","jibun","ji_code","floor"])
        df_temp=pd.concat([df_temp,temp])

    df_temp=df_temp.reset_index(drop=True)

    return df_temp

### 서울시 모든 지역(25개지역)의 2020년 1월 아파트 매매 정보 조회

In [12]:
import pandas as pd
from tqdm import tqdm_notebook

df = pd.DataFrame()

year = range(2020,2021) # 연도범위는 2010년으로 설정
month = range(1,2) # 월범위는 1분기(1월~3월)로 설정
loc_code = code_seo["법정동코드"].unique()

for loc in tqdm_notebook(loc_code):
    for y in year:
        for m in month:
            date = "%d%02d" % (y, m)
            temp = GetData(date, loc)

            df = pd.concat([df,temp])
df.head()

HBox(children=(IntProgress(value=0, max=25), HTML(value='')))

,build_y,year,month,day,dong,price,apt_nm,size,jibun,ji_code,floor
0,2007,2020,1,3,필운동,"100,000",신동아블루아광화문의 꿈,111.97,254,11110,6
1,2008,2020,1,2,사직동,"162,000",광화문풍림스페이스본(106동),163.33,9-1,11110,2
2,1994,2020,1,6,내수동,"88,000",세종로대우,109.91,167,11110,11
3,2004,2020,1,9,내수동,"130,000",킹스매너,194.43,110-15,11110,4
4,2003,2020,1,20,내수동,"149,000",경희궁 파크팰리스,148.09,95,11110,8

## 나중에 따로 실행해볼것
### (2018년 ~ 2019년) (1월~12월) 동안 서울시 모든 지역(25개 지역)의 아파트 매매 정보 조회
####  api 요청이 600개정도라 시간이 매우 오래 걸림

In [13]:
import pandas as pd
from tqdm import tqdm_notebook

df = pd.DataFrame()

year = range(2018,2020) # 연도범위는 2018년~2019년으로 설정
month = range(1,13) # 월범위는 1년(1월~12월)로 설정
loc_code = code_seo["법정동코드"].unique()

for loc in tqdm_notebook(loc_code):
    for y in year:
        for m in month:
            date = "%d%02d" % (y, m)
            temp = GetData(date, loc)

            df = pd.concat([df,temp])
df.head()

HBox(children=(IntProgress(value=0, max=25), HTML(value='')))

,build_y,year,month,day,dong,price,apt_nm,size,jibun,ji_code,floor
0,1999,2018,1,19,누상동,"17,900",청호그린빌,29.76,40,11110,4
1,1999,2018,1,19,누상동,"17,900",청호그린빌,29.76,40,11110,3
2,2008,2018,1,9,사직동,"110,000",광화문풍림스페이스본(101동~105동),146.92,9,11110,9
3,2008,2018,1,22,사직동,"89,000",광화문풍림스페이스본(101동~105동),94.51,9,11110,6
4,2008,2018,1,23,사직동,"85,000",광화문풍림스페이스본(101동~105동),95.88,9,11110,2

### 완성된 데이터프레임을 저장

In [15]:
df.to_csv('./서울시 아파트 실거래가.csv', index=False)

### 강남구(11680) 지역의 2018년~2019년 아파트 매매 정보 조회

In [17]:
df = pd.DataFrame()
year = range(2018,2020)
month = range(1,13)

for y in tqdm_notebook(year):
    for m in month:
        date = "%d%02d" % (y, m)
        temp = GetData(date, 11680)
        
        df = pd.concat([df,temp])

df.head()

HBox(children=(IntProgress(value=0, max=2), HTML(value='')))

,build_y,year,month,day,dong,price,apt_nm,size,jibun,ji_code,floor
0,2003,2018,1,1,역삼동,"80,000",세방하이빌1,59.77,771-4,11680,5
1,2006,2018,1,2,역삼동,"151,000",역삼푸르지오,84.9097,754-1,11680,3
2,2010,2018,1,2,역삼동,"180,000",래미안그레이튼(진달래2차),121.54,762-3,11680,18
3,2003,2018,1,2,역삼동,"108,000",금호어울림,132.88,835-67,11680,14
4,1997,2018,1,2,역삼동,"83,500",대림역삼,59.99,761-10,11680,6

In [18]:
df.to_csv('./서울시 강남구 아파트 실거래가.csv', index=False)

In [19]:
df_eunma = df[ df['apt_nm'] == '은마']

In [20]:
df_eunma['size'].unique()

array(['76.79', '84.43'], dtype=object)

### 거래된 은마아파트의 평수별 데이터 분할
#### 평수별로 방, 욕실 개수를 추가.

In [21]:
df_eunma_7679 = df_eunma[df_eunma['size'] == '76.79'] 
df_eunma_8443 = df_eunma[df_eunma['size'] == '84.43']

#76.79 > 방 3개, 욕실 1개
#84.43 > 방 4개, 욕실 2개

df_eunma_7679['Room'] = 3
df_eunma_7679['Bathroom'] = 1

df_eunma_8443['Room'] = 4
df_eunma_8443['Bathroom'] = 2

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [25]:
df_eunma.shape, df_eunma_7679.shape, df_eunma_8443.shape

((345, 11), (203, 13), (142, 13))

In [26]:
df_eunma_2 = pd.concat( [df_eunma_7679, df_eunma_8443])

In [27]:
df_eunma_2[['build_y', 'year', 'month','day','size','floor','Room','Bathroom','price']].to_csv('./은마아파트 거래(201001~201912).csv',index=False)